In [1]:
import pandas as pd
import nltk
import string
import re

In [3]:
TRAIN_DATASET_DIR = '../Dataset/SMS_train.csv'
TEST_DATASET_DIR = '../Dataset/SMS_test.csv'

train_df = pd.read_csv(TEST_DATASET_DIR, encoding= 'cp1252')
test_df = pd.read_csv(TRAIN_DATASET_DIR, encoding='cp1252')
test_df.head()

   S. No.                                       Message_body     Label
0       1                         Rofl. Its true to its name  Non-Spam
1       2  The guy did some bitching but I acted like i'd...  Non-Spam
2       3  Pity, * was in mood for that. So...any other s...  Non-Spam
3       4               Will ü b going to esplanade fr home?  Non-Spam
4       5  This is the 2nd time we have tried 2 contact u...      Spam

In [4]:
print(len(train_df))
print(len(test_df))
train_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)
big_data = pd.concat([train_df, test_df], axis=0)
print(len(big_data))
big_data.head()

125
957
1082

   S. No.                                       Message_body Label
0       1  UpgrdCentre Orange customer, you may now claim...  Spam
1       2  Loan for any purpose £500 - £75,000. Homeowner...  Spam
2       3  Congrats! Nokia 3650 video camera phone is you...  Spam
3       4  URGENT! Your Mobile number has been awarded wi...  Spam
4       5  Someone has contacted our dating service and e...  Spam

In [11]:
big_data.drop('S. No.', axis=1, inplace=True)

In [12]:
big_data.head()

                                        Message_body Label
0  UpgrdCentre Orange customer, you may now claim...  Spam
1  Loan for any purpose £500 - £75,000. Homeowner...  Spam
2  Congrats! Nokia 3650 video camera phone is you...  Spam
3  URGENT! Your Mobile number has been awarded wi...  Spam
4  Someone has contacted our dating service and e...  Spam

In [17]:
# Check missing row

print(big_data['Message_body'].isnull().sum())
print(big_data['Label'].isnull().sum())

0
0

In [18]:
big_data.to_csv('big_spam_dataset.csv', encoding='cp1252')